#form1
{
	width:50%;
	float:left;
	margin-top:200px;
	margin-left:370px;

}
body{
	           font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
	           font-weight:bold;
}
#but{
	margin-left:300px;
}